doctype html
html
	head
		link(rel='stylesheet', href='css/stylesheet.css')\
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		.container
			h1 Hello Canvas
			hr
			canvas(id="mycanvas", style="border:1px solid #000000;")
			script(src="main.js")